<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #Barra {
        margin:0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;

    }
    #Barra li{
        display: inline;
        margin: 0 20px;
    }

</style>
<body>
    <ul id="Barra">
        <li><strong>Home</strong</li>
        <li><strong>acerca de mí...</strong</li>
        <li><strong>Mi Familia</strong</li>
        <li><strong>Contacto</strong</li>
    </ul>
</body>
</html>