<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimerMVT</title>
</head>
<body>
    {% include "Barra.html" %}
    <p> <h1 style="color:red"> <strong> Bienvenida {{nombre}} {{apellido}}!!!!! </strong></h1></p>
    <p> <strong>Tus familiares son:</strong></p>
        <ul>
        {% for familiar in familiares %}
            {% if familiar == "Marta" %}
            <p><li> Tu mamá {{familiar}} </li></p>
            {% endif %}
                </ul>
        {% endfor %}
        </ul> 
    </p>
    <p>
        Tus hermanos:
        <ul>
        {% for familiar in familiares %}
            {% if familiar != "Marta" %}
            <p><li>{{familiar}}</li></p>
            {% endif %}
        {% endfor %}
    </ul>

    </p>
</body>
</html>