<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
</head>
<body>
    {% include "Barra.html" %}
    <p><strong><h1  style="color:red">Acerca de mí....</h1></strong></p>
    <h2>Mi nombre es {{persona.nombre}}</h2>
    <ul>
        <li><p><h3>Tengo {{persona.edad}} años</h3></p></li>
        <li><p><h3>Mi e-mail es: {{persona.email}}</h3></p></li>
        <li><p><h3>Mi teléfono de contacto es: {{persona.telefono}}</h3></p></li>
        <li><p><h3>Nac&iacute; el {{persona.f_nacimiento}}</h3></p></li>
    </ul>
</body>
</html>